.profile {
    display: flex;
    margin-top: 30px;
   }

.img{
    margin-right: 20px;
    border-radius: 10px;
    max-width:256px;
    max-height: 256px;
}

.info{
    margin-top: -30px;
}
/* CSS : PARA LOS POST */
.post{
    display:flex;
    border-top: 1px solid rgb(127, 127, 127);
    border-bottom: 1px solid rgb(127, 127, 127);
    padding-bottom: 5px;
}

.post-card{
    margin-left: 15px;
    width: 100%;
}

.img-post{
    margin-top: 5px;
    border-radius: 10px;
}

.post-info{
    display: flex;
    margin-bottom: 5px;
}

.post-author{
    margin-left: 0;
    margin-right: auto;
}

.post-date{
    margin-left: auto;
    margin-right: 0;
}

.post-body{
    display: flex;
    margin-bottom: 5px;
}