{% extends 'base.html' %}

{% block content %}
    <h1>Bienvenido!</h1>
    <h3>Hi, {{ current_user.username }}!</h3>
    <div>
        {% if current_user.can(WRITE) %}
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p class="form-body">
            {{ form.body.label }}<br />
            {{ form.body(size=32) }} {% for error in form.body.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit() }}</p>
        </form>
        {% endif %}
    </div>
    {% for post in posts %}
        {% include '_post.html'   %}
    {% endfor %}
{% endblock %}